body {
    background: black;
}

#canvas1 {
    align-self: center;
    margin: 0 auto;
    width: 12rem;
    background-color: rgb(126, 228, 105);
    padding: 1.5rem;
    border: 1px solid white;
    box-shadow: 2px 2px 0px #999;
    text-align: center;
    border-start-end-radius: rgb(236, 29, 29);
    
}
@media screen and (max-width: 600px) {
    
}

